class {{ func_name }}(GenericFunction[{{ python_return_type }}]):
    type = {{ sqlalchemy_return_type }}
    inherit_cache = True
    name = "{{ func_name.lower() }}"
    
    def __init__(self, {{ arg_inits }}**kwargs: Any) -> None:
        """{{ description }}

        Parameters
        ----------
        {{ params }}
        kwargs : Any
            Additional keyword arguments passed to the `GenericFunction`.

        Returns
        -------
        Function[{{ return_type }}]
            {{ return_description }}
        """
        super().__init__({{ arg_names }}**kwargs)
        self.packagenames = ("bingo",)
